body {
    text-align: center;
    font-family:'Lucida Sans Unicode';
    background-color:aliceblue;
}

img {
    width: 20%;
    height: 400px;
    border-radius: 50%;
}

ul, ol {
    display: inline-block;
    list-style-position: inside;
}

h1{
    font-size: 50px;
    text-decoration: underline;
}

h3 {
    font-size: 30px;
}

p, li {
    font-size: 20px;
}

a {
    font-size: 20px;
    color: black;
}
